<h1> Person Data Sheet </h1>

<form id="upload-person" name="person">
  <div class="field">
    <label> Choose the person csv: </label>
    <input type="file" name="person_data" id="person_data">
  </div>

  <div class="actions">
    <input type="submit" value="Upload Data" />
  </div>
</form>

<table id="persons-table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
  </tr>
</table>